@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 450px;
    margin-bottom: 20px;
  }
  
  .card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  }
  
  .card-rating {
    position: absolute;
    top: 0;
    background-color: black;
    height: 20px;
    display: flex;
    align-items: center;
    right: 25px;
    transform: translateY(-50%);
    border-radius: 12px;
    padding: 6px 10px;
  }
  
  .package-container {
    padding: 20px;
    height: 100%;
  }
  
  .package-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  img {
    height: 100%;
    object-fit: cover;
  }
  
  .package-rating {
    color: yellow;
    padding-top: 10px;
  }
  
  .itinerary-container {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 12px;
    margin-top: 20px;
  }
  
  .itinerary-heading {
    padding: 20px;
  }
  
  .itinerary-body {
    padding: 20px;
    background-color: white;
  }
  
  .daily-content {
    padding: 20px;
  }
  
  .city-detail {
    position: relative;
    padding-left: 50px;
    border-left: 1px dotted lightblue;
  }
  
  .city-icon {
    position: absolute;
    height: 30px;
    background-color: lightblue;
    border-radius: 50%;
    color: white;
    text-align: center;
    width: 30px;
    top: 0;
    left: -13px;
  }
  
  .attraction-detail {
    position: relative;
    padding-bottom: 15px;
    margin-top: 5px;
    padding-left: 50px;
  }

  .dot-line {
    border-bottom: 1px dotted lightblue;
    width: 50px;
    position: absolute;
    top: 15px;
    left: -50px;
  }
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  .link {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
  }

  .package-card {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    overflow: hidden;
    border-radius: 20px;
    height: 50%;
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 50px;
  }
  
  .wrapper {
    max-width: 1180px;
    margin: 0 auto;
  }
  
  .card-detail {
    text-align: center;
    padding: 40px;
  
  }
  
  
  .card-info {
    background-color: white;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    gap: 10px;
  }
  
  .card-item {
    position: relative;
  }
  
  .card-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -5px;
    bottom: 4px;
    width: 1px;
    background: black;
  }
  
  .price {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .book-button {
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px;
  }
  
  .card-price {
    display: grid;
    place-content: center;
    background-color: hsl(214, 56%, 58%);
    text-align: center;
    padding: 20px;
  }